In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("abalone.csv")

In [4]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [5]:
#Checking for nul values
data.isnull().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

In [6]:
data.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings'],
      dtype='object')

In [7]:
data.dtypes

Sex                object
Length            float64
Diameter          float64
Height            float64
Whole weight      float64
Shucked weight    float64
Viscera weight    float64
Shell weight      float64
Rings               int64
dtype: object

In [8]:
#Sex is object type lets check for value counts
data['Sex'].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [10]:
data.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [13]:
# we are using one hot encoding for feature SEX as there are only 3 categories
data_abalone=pd.get_dummies(data,drop_first=True)
data_abalone

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,1,0
...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,0,0
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,0,1
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,0,1
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,0,0
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,0,1

In [14]:
#cheking for correlation
cor=data_abalone.corr()
cor

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_I,Sex_M
Length,1.000000,0.986812,0.827554,0.925261,0.897914,0.903018,0.897706,0.556720,-0.551465,0.236543
Diameter,0.986812,1.000000,0.833684,0.925452,0.893162,0.899724,0.905330,0.574660,-0.564315,0.240376
Height,0.827554,0.833684,1.000000,0.819221,0.774972,0.798319,0.817338,0.557467,-0.518552,0.215459
Whole weight,0.925261,0.925452,0.819221,1.000000,0.969405,0.966375,0.955355,0.540390,-0.557592,0.252038
Shucked weight,0.897914,0.893162,0.774972,0.969405,1.000000,0.931961,0.882617,0.420884,-0.521842,0.251793
Viscera weight,0.903018,0.899724,0.798319,0.966375,0.931961,1.000000,0.907656,0.503819,-0.556081,0.242194
Shell weight,0.897706,0.905330,0.817338,0.955355,0.882617,0.907656,1.000000,0.627574,-0.546953,0.235391
Rings,0.556720,0.574660,0.557467,0.540390,0.420884,0.503819,0.627574,1.000000,-0.436063,0.181831
Sex_I,-0.551465,-0.564315,-0.518552,-0.557592,-0.521842,-0.556081,-0.546953,-0.436063,1.000000,-0.522541
Sex_M,0.236543,0.240376,0.215459,0.252038,0.251793,0.242194,0.235391,0.181831,-0.522541,1.000000

In [15]:
#checking for skewness
data_abalone.skew()

Length           -0.639873
Diameter         -0.609198
Height            3.128817
Whole weight      0.530959
Shucked weight    0.719098
Viscera weight    0.591852
Shell weight      0.620927
Rings             1.114102
Sex_I             0.765708
Sex_M             0.557390
dtype: float64

In [18]:
#splitting X and Y
x=data_abalone.drop(columns=["Rings"])
y=data_abalone[["Rings"]]

In [25]:
#removing skewness
from sklearn.preprocessing import power_transform
transform_data=power_transform(x)
x=pd.DataFrame(transform_data,columns=x.columns)

In [26]:
x.skew()

Length            0.018972
Diameter          0.019786
Height            0.376889
Whole weight      0.027141
Shucked weight    0.025172
Viscera weight    0.021825
Shell weight      0.033534
Sex_I             0.765708
Sex_M             0.557390
dtype: float64

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [28]:
import warnings
warnings.filterwarnings("ignore")

In [30]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

In [32]:
#checking the best random state
from sklearn.ensemble import RandomForestRegressor
maxR2=0
maxRS=0
for i in range(1,200):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=i)
    mod=RandomForestRegressor()
    mod.fit(x_train,y_train)
    pred=mod.predict(x_test)
    r2=r2_score(y_test,pred)
    if r2>maxR2:
        maxR2=r2
        maxRS=i
print("Best accuracy is ", maxR2, "on Random_state ", maxRS)

Best accuracy is  0.5777129780609822 on Random_state  145

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=145)

In [35]:
#checking on different models
model=[RandomForestRegressor(),KNeighborsRegressor(),DecisionTreeRegressor()]

In [36]:
for m in model:
    m.fit(x_train,y_train)
    predm=m.predict(x_test)
    print("r2 score of ",m,"is ")
    print(r2_score(y_test,predm))
    print(mean_absolute_error(y_test,predm))
    print(mean_squared_error(y_test,predm))
    print('\n')

r2 score of  RandomForestRegressor() is
0.5763086630553784
1.5244896331738438
4.545739314194577


r2 score of  KNeighborsRegressor() is
0.5120749184549886
1.6127591706539073
5.234896331738437


r2 score of  DecisionTreeRegressor() is
0.19630045170640398
2.0757575757575757
8.62280701754386

In [37]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(RandomForestRegressor(),x,y,cv=3).mean())

0.5153296323841859

In [38]:
print(cross_val_score(KNeighborsRegressor(),x,y,cv=3).mean())

0.45829644878041903

In [39]:
print(cross_val_score(DecisionTreeRegressor(),x,y,cv=3).mean())

0.022429072769996544

KNeghborsregressor is the best model as it has the minimum difference of cross val score

### Hyperparameter tuning

In [40]:
from sklearn.model_selection import GridSearchCV

In [42]:
#checking the best parameters for tuning
knr=KNeighborsRegressor()
parameters = {"n_neighbors":range(2,30)}
clf = GridSearchCV(knr, parameters, cv=10)
clf.fit(x, np.log1p(y))
clf.best_params_

{'n_neighbors': 18}

In [46]:
Final_mod=KNeighborsRegressor(n_neighbors=19)
Final_mod.fit(x_train,y_train)
pred=Final_mod.predict(x_test)
r2score=r2_score(y_test,pred)

In [47]:
r2score

0.5208014949460451

### Saving the model

In [49]:
import joblib 
joblib.dump(knr, 'abalone_knn.pkl')

['abalone_knn.pkl']